In [7]:
import pandas as pd

pip install sqlalchemy psycopg2-binary

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
engine.connect()

In [5]:
query ="""
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname !='pg_catalog' AND
schemaname !='information_schema';
"""
#same as above
#"""\dt"""

# """SELECT 1 as number;"""

query_2 = """SELECT count(1) FROM yellow_taxi_data;"""
# query_3 = """DROP TABLE yellow_taxi_data;"""

In [12]:
pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False

In [6]:
pd.read_sql_query(query_2, engine)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "yellow_taxi_data" does not exist
LINE 1: SELECT count(1) FROM yellow_taxi_data;
                             ^

[SQL: SELECT count(1) FROM yellow_taxi_data;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [13]:
# engine.execute(query_2)

In [23]:
query_4 = """SELECT MAX(tpep_pickup_datetime), MIN(tpep_pickup_datetime), MAX(total_amount) FROM yellow_taxi_data;"""
pd.read_sql_query(query_4, engine)

                   max                  min      max
0  2021-02-22 16:52:16  2008-12-31 23:05:14  7661.28

### loading the zones file

In [11]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [13]:
# df_zones.to_sql(name='zones', con=engine, if_exists='replace')